@import './Styles/colors';
.App {
    text-align: center;
}

.red {
    color: $red;
}

.bold {
    font-weight: bold;
}

%common-btn {
    font: inherit;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    color: $white;
    &:hover {
        color: $black;
    }
}

.button {
    @extend %common-btn;
    background-color: $black;
    &:hover {
        background-color: $lightGrey;
    }
}

.greenButton {
    @extend %common-btn;
    background-color: $green;
    &:hover {
        background-color: $lightGreen;
    }
}