@import '../../assets/styles/mediaQueries';
.Burger {
    width: 80%;
    margin: auto;
    height: 200px;
    overflow-y: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    @include respond-to(handhelds) {
        width: 400px;
    }
    @include respond-to(medium-screens) {
        width: 400px;
    }
    @include respond-to(wide-screens) {
        width: 400px;
    }
    @include respond-to(huge-screens) {
        width: 450px;
    }
}